* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(114, 74, 215);
    background-image: linear-gradient( rgb(114, 74, 215), rgb(68, 47, 104));
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

button:hover {
    background-color: orange;
}

.hidden {
    display: none;
}