main {
    background-color: #000000;
}

.align-middle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

#result {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.overlay {
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
}

#level-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: relative;
    background-image: src="assets/img/level-1/background.jpg";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    padding: 10px;
}

.hud-item {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}

#hud-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 20px;
}

.zombie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 8vw;
    width: 100%;
    height: auto;
}

.row-item {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    height: auto;
}

.pop-up {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(162, 115, 72, 1);
    max-width: 360px;
    width: 40vw;
    border: 5px solid rgb(84, 45, 24);
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.pop-up * {
    margin-bottom: 5px;
}

#pop-up-header {
    margin-bottom: 15px;
}

#pop-up-footer *{
    margin-left: 5px;
}

.pop-up h2 {
    color: yellow;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}

#game-over-text {
    color: #ffffff;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}

.row-item img {
    width: auto;
    height: 14vh;
}

#player-img {
    z-index: 1;
    position: absolute;
    width: 70px;
    height: 150px;
    top: 50%;
    left: 70%;
}

 @media (max-height: 700px)  {
    .row-item img {
        height: 13vh;
    }
}

@media (max-height: 600px)  {
    .row-item img {
        height: 12vh;
    }
}

@media (max-height: 500px)  {
    .row-item img {
        height: 11vh;
    }
}

@media (max-height: 400px)  {
    .row-item img {
        height: 5vh;
    }
}

@media (max-width: 420px) {
    #hud-container {
        font-size: 16px;
    }

    .row-item img {
        height: 11vh;
    }
}