* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    background-color: rgba(255, 255, 255, 0.7); /*102, 83, 147*/
    color: rgb(102, 83, 147);
    padding: 5px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    color: rgb(102, 83, 147);
    border: 1px solid rgb(102, 83, 147);
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(102, 83, 147);
    color: #ffffff;
    border: 1px solid #ffffff;
}

main {
    background-color: #000000;
}

.hidden {
    display: none;
}

.align-middle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

#result {
    width: 100vw;
    height: 100vh;
    color: yellow;
    text-align: center;
}

.overlay {
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}

.pop-up {
    display: flex;
    flex-flow: column;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    align-items: center;
    width: 50%;
    height: auto;
    border: 1px solid rgb(102, 83, 147);
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#level-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#hud-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 28px;
    margin-bottom: 20px;
}

.zombie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 8vw;
    width: 100%;
    height: auto;
}

.row-item {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    height: auto;
}

.row-item img {
    width: auto;
    height: 100px;
}

#level-container{
    position: relative;
    background-image: src="assets/img/level-1/background.jpg";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px;
}

#player-img {
    z-index: 1;
    position: absolute;
    width: 70px;
    height: 150px;
    top: 50%;
    left: 70%;
}
