body {
    background: url('../../assets/img/background-night.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

h1{
    font-size: 50px;
    color: orange;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* .btn_reset{
    position: absolute;
    bottom: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.btn_welcome{
    position: absolute;
    bottom: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

  #highscore_table {
    color: white;
    border-collapse: collapse;
    width: 40vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
  }

  
  #highscore_table td, #highscore_table th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: rgba(162, 115, 72, 1);
  }

  
  #highscore_table tr:hover {background-color: orange;}
  
  #highscore_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(84, 45, 24);
    color: white;
  }

  #high-score-container {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
  }

  #high-score-container * {
    margin-bottom: 10px;
  }

  #button-container *{
    margin-left: 10px;
  }