body {
    background-image: url('../../assets/img/background-day.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

#name_error {
  color: orange;
}

input {
    margin-bottom:15px;
    color: rgb(114, 74, 215);
    text-align: center;
}

.start_game{
  cursor: pointer;
    color: #ffffff;
    font-size: 28px;
    background-color: orange;
    background-image: linear-gradient(orange, rgb(203, 97, 47));
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

.mytext {
  width: 300px;
  font-size: 25px;
  border-radius: 20px;
}

button {
  font-size: 26px;
}

.main_image{
  max-width: 380px;
  height: auto;
}


h3{
  font-size: 28px;
  color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
}

.sound{
  max-height: 75px;
  max-width: 75px;
  position:absolute;
  top:0%;
  right:0%;
  margin: 20px;
}

/* Popup Start */

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  color: white;
  background-color: rgba(162, 115, 72, 1);
  width:90%;
  border-radius: 20px;
  max-width:800px;
  height:450px;
  z-index:2;
  border: 5px solid rgb(84, 45, 24);
  padding:60px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


/* popup ends  */


/* audio */

.audiomp3{
  opacity: 0;
  position:absolute;
  top:15%;
  left:90%;
  padding: 10px;
  font-size: 22px;
  min-width: 150px;
  text-align: center;
  cursor: pointer; 
  border-radius: 20px;
  color: white;
  border: px;
}

#welcome-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 25px 30px;
  border-radius: 20px;
}

#welcome-container * {
  margin-bottom: 15px;
}

#button-container *{
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 420px) {
  .main_image{
    width: 300px;
  }
}
  