body {
    background-image: url('../../assets/img/background-day.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  .centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.table {
  background-color: #222;
    opacity: 0.9;
    display:table;
    text-align:center;
    width:50%;
    height:50%;
    border-radius: 40px;
    table-layout:fixed;
}
.cell {
    display:table-cell;
    vertical-align:middle;
}
form {
    display:inline-block;
    width: 750px;
    padding:50px 0;
}
input {
    margin-bottom:15px;
    color: rgb(114, 74, 215);
    text-align: center;
}

.start_game{
  cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    background-color: rgb(114, 74, 215);
    background-image: linear-gradient( rgb(114, 74, 215), rgb(68, 47, 104));
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
}

.mytext {
  width: 300px;
  font-size: 25px;
  border-radius: 20px;
}

button {
  font-size: 26px;
  margin: 10px;
}
.main_image{
  max-width: 500px;
  max-height: 250px;
}


h3{
  font-size: 40px;
}

.sound{
  max-height: 75px;
  max-width: 75px;
  position:absolute;
  top:0%;
  right:0%;
  margin: 20px;
}

/* Popup Start */

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  color: white;
  background-color: rgba(162, 115, 72, 1);
  width:90%;
  border-radius: 20px;
  max-width:800px;
  height:450px;
  z-index:2;

  padding:60px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}


/* popup ends  */


/* audio */

.audiomp3{
  opacity: 0;
  position:absolute;
  top:15%;
  left:90%;
  padding: 10px;
  font-size: 22px;
  min-width: 150px;
  text-align: center;
  cursor: pointer; 
  border-radius: 20px;
  color: white;
  border: px;
}
  