* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://store-images.s-microsoft.com/image/apps.4851.68871528329885281.e03a829d-faa0-4a31-a5d8-785bb8b52288.f024a10d-396d-4f40-b63c-899ef8a8cb04?mode=scale&q=90&h=1080&w=1920");
  }

  .centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.table {
  background-color: #222;
    opacity: 0.9;
    display:table;
    text-align:center;
    width:50%;
    height:50%;
    border-radius: 40px;
    table-layout:fixed;
}
.cell {
    display:table-cell;
    vertical-align:middle;
}
form {
    display:inline-block;
    width: 750px;
    padding:50px 0;
}
input {
    margin-bottom:15px;
}

.mytext {
  width: 300px;
  font-size: 25px;
  border-radius: 20px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}

h1{
  color: #4CAF50;
  font-family: 'Creepster', cursive;
  font-size: 80px;
  background-color: #222;
}

h3{
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}




/* Popup Start */
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  border-radius: 20px;
  max-width:1000px;
  height:450px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.highScoreButton {
  position:absolute;
  top:20%;
  left:90%;
  background: linear-gradient(to right bottom, #273c75, #222);
  background-color: white;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 
.buttonPop {
  background: linear-gradient(to right bottom, #273c75, #222);
  position:absolute;
  top:35%;
  left:90%;
  padding: 15px 32px;
  cursor: pointer;
  border-radius: 20px;
  /* transform:translate(-50%,-50%); */
  background-color: white;
  color:white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* popup ends  */


/* audio */

.audiomp3{
  position:absolute;
  top:5%;
  left:90%;
  padding: 10px;
  font-size: 22px;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  background: linear-gradient(to right bottom, #273c75, #222);
  color: #fff;
  border: px;
}
  